.mainContainer {
	display: flex;
	gap: 50px;
	position: relative;
}

.name {
	margin: 25px 0 0;
	position: absolute;
	width: 100%;
	max-width: 50%;
	right: 0;

	span {
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 5px;
	}

	h1 {
		margin: 5px 0;
		width: 100%;
		text-transform: capitalize;
		font-size: 50px;
		font-weight: 700;
	}
}

.image {
	width: 70%;
	border-radius: 12px;
}

.article {
	font-size: 18px;
	font-weight: 500;
	opacity: 0.5;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 30px;
}

.descr {
	max-width: 70%;
	font-size: 18px;
	font-weight: 500;
	color: #525252;
	margin: 100px 0;
}

.volume {
	span {
		text-transform: uppercase;
		font-weight: 600;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 15px 0 0;
		display: flex;
		gap: 15px;

		button {
			cursor: pointer;
			padding: 10px;
			height: 60px;
			border-radius: 12px;
			min-width: 60px;
			font-size: 16px;
			font-weight: 600;
			background-color: transparent;
			border: 1px solid #000;
			opacity: 0.5;
			transition: opacity 0.15s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.activeVolume {
	opacity: 1 !important;
}

.price {
	font-weight: 700;
	font-size: 26px;
}

.buttons {
	display: flex;
	gap: 10px;
}

@media (max-width: 1150px) {
	.name {
		span {
			font-size: 14px;
		}

		h1 {
			font-size: 40px;
		}
	}

	.descr {
		max-width: 100%;
	}

	.volume {
		span {
			font-size: 14px;
		}

		ul {
			margin: 10px 0 0;
			gap: 10px;

			button {
				padding: 8px;
				height: 50px;
				min-width: 50px;
				font-size: 12px;
			}
		}
	}
	.price {
		font-size: 18px;
	}

	.article {
		font-size: 13px;
	}

	.info {
		gap: 15px;
	}
}

@media (max-width: 900px) {
	.mainContainer {
		flex-direction: column;
		gap: 10px;
	}
	.name {
		span {
			font-size: 12px;
		}

		h1 {
			font-size: 30px;
		}
	}
}
@media (max-width: 600px) {
	.name {
		position: static;
		max-width: 100%;
		span {
			font-size: 11px;
		}

		h1 {
			font-size: 25px;
		}
	}
	.image {
		width: 100%;
	}
}
